@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/public/images/bg-pattern-top.svg"), url("/public/images/bg-pattern-bottom.svg"), hsl(185, 75%, 39%);
  background-repeat: no-repeat no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}
